body {
    width: 750px;
    height: 350px;
    background-color: cadetblue;
    }

div{
    color: blue;
    width: 350px;
    height: 100px;
    background-color: blanchedalmond;
    margin: 10px;    
    position: relative;
    top: 150px;
    text-align: center;
    padding: 20px;
    
}

button {
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

.fixed { 
  position: fixed;
  top: 0;

}

.form-popup {
    display: none;    
    margin-top: 200px;    
    bottom: 0;        
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  section {
    width: 310px;
  }

  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  